@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <ChildContent>
            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0px">
                <RadzenColumn Size="5">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </ChildContent>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu Match="NavLinkMatch.Prefix">
            <RadzenPanelMenuItem Text="主页" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="部门管理" Icon="account_balance" Path="/department"/>
            <RadzenPanelMenuItem Text="用户管理" Icon="assignment_ind" Path="/user"/>
            <RadzenPanelMenuItem Text="系统管理" Icon="android" Path="/application"/>

            
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    bool sidebarExpanded = true;
}
