@inherits LayoutComponentBase

<Layout SideWidth="0" IsPage="true" ShowFooter="false" ShowCollapseBar="true" IsFullSide="true" Menus="Menus" UseTabSet="true" TabDefaultUrl="/">
    <Side>
    </Side>
    <Main>
        @Body
    </Main>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Layout>

@code
{
    List<MenuItem> Menus = new List<MenuItem>
{
        new MenuItem{Text="数据录入",Url="/",Icon="fa fa-fw fa-home"},
    };
}