<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rubik.Identity.AuthServer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rubik.Identity.AuthServer.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="login-footer">
            AshGogogo
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/is4.min.js?v==@(DateTime.Now.Ticks)"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
