@inherits LayoutComponentBase
@using AntDesign.ProLayout;

<BasicLayout MenuData="_menuData"
             MenuAccordion
             Collapsed="@collapsed"
             Title="权限管理平台">
    <HeaderContentRender>
        <Space Size="@("24")">
            <SpaceItem>
                <Icon Class="action" Type="@(collapsed?"menu-unfold":"menu-fold")" OnClick="Toggle" />
            </SpaceItem>
        </Space>
    </HeaderContentRender>
    <RightContentRender>
        <Space>
            <SpaceItem>
                <p>欢迎123</p>
            </SpaceItem>
            <SpaceItem>
                <Icon Type="logout" OnClick="Logout"></Icon>
            </SpaceItem>
        </Space>
    </RightContentRender>
    <ChildContent>
        <ReuseTabs />
    </ChildContent>
    <FooterRender>
        <FooterView Links="[]" Copyright="AshGogogo" />
    </FooterRender>
</BasicLayout>

@code
{

    [Inject]
    NavigationManager? navigationManager { get; set; }

    MenuDataItem[] _menuData = new MenuDataItem[]
    {
        new MenuDataItem
        {
            Name="Home",
            Path="/",
            Icon="home",
            Key="home",
        },
    };

    bool collapsed;

    void Toggle()
    {
        collapsed = !collapsed;
    }

    private void Logout()
    {
        navigationManager!.NavigateTo("/logout", true);
    }

}